.container {
  /* Example styles */
  width: 100%;
  padding: 10px;
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
}

/* Rest of the styles remain the same */

.table-container {
  margin-top: 20px;
  overflow: auto;
  /* Add scrollbar if table overflows */
  max-width: 100%;
  /* Set maximum width to 100% */
}

/* Rest of the styles remain the same */


.chart-container {
  /* Example styles */
  width: 100%;
  height: 300px;
}


.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  padding: 8px;

  border-bottom: 1px solid #ddd;

  text-align: center;
  vertical-align: middle;
}

.table-container th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table-container tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-container tbody tr:hover {
  background-color: #e6e6e6;
}

.table-container .green {
  color: green;
}

.table-container .red {
  color: red;
}

.radio-container {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.radio-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #eaeaea;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.radio-button.active {
  background-color: #3273dc;
  color: #fff;
}

.input-container {
  /* display: flex; */
  align-items: center;
  margin: 10px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  transition: border-color 0.3s ease;
}

.input-container:focus-within {
  border-color: #3273dc;
  box-shadow: 0 0 5px rgba(50, 115, 220, 0.5);
}

.input-container input {
  flex: 1;
  border: none;
  background-color: transparent;
  margin-left: 10px;
  color: #333;
  outline: none;
}

.input-container input::placeholder {
  color: #999;
}

.input-container input:focus {
  outline: none;
}


.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  background-color: #eaeaea;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.button:hover {
  background-color: #ccc;
}

.button:active {
  background-color: #aaa;
  transform: translateY(1px);
}

.select-dropdown {
  appearance: none;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.select-dropdown:hover {
  border-color: #999;
}

.select-dropdown:focus {
  outline: none;
  border-color: #3273dc;
  box-shadow: 0 0 5px rgba(50, 115, 220, 0.5);
}

@property --p {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

.pie {
  --p: 20;
  --b: 12px;
  --c: darkred;
  --w: 80px;

  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  margin: 5px;
  place-content: center;
  /* font-size:25px; */
  font-weight: bold;
  font-family: sans-serif;
}

.pie:before,
.pie:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.pie:before {
  inset: 0;
  background:
    radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b) var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p)*1%), #0000 0);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
  mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
}

.pie:after {
  inset: calc(50% - var(--b)/2);
  background: var(--c);
  transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}

.animate {
  animation: p 1s .5s both;
}

.no-round:before {
  background-size: 0 0, auto;
}

.no-round:after {
  content: none;
}

@keyframes p {
  from {
    --p: 0
  }
}

body {
  background: #ddd;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  padding: 8px 16px;
  margin: 0 4px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  background-color: #3273dc;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button.active {
  background-color: #200f54;
}

.pagination button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.home-icon::before {
  content: "\e900";
  /* Unicode for the home icon */
  font-family: "Arial", sans-serif;
  /* Use a font that supports the home icon */
  /* Additional styles for the icon */
}

.game-scores {
  background-color: #f2f2f2;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
  width: fit-content;
  margin: auto;
}

h2 {
  text-align: center;
  color: #333;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  color: #555;
  font-size: 16px;
}

.no-score {
  color: #3a1d1d;
  font-style: italic;
  margin-top: 10px;
}
